<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
    body {
      font-family: verdana;
        font-size: 20px;
        background-color: #94d2bdff;
        color: #fffffcff;
       /* text-align: center;*/

    }

    .nav {
       font-size: 1.2rem;
       text-align: left;
       margin: 10px 20px;
    }
  </style>
<!--  <link href="/stylesheets/whitespace-reset.css" rel="stylesheet" type="text/css "> -->
<!--  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" /> -->
  <meta charset="utf-8">
  <title>Recipe World</title>
</head>
<body>
  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %>
  <%== yield %>
</body>
</html>