<form action="/recipes" method="post">
  <h1>Add a New Recipe</h1>
  <section>
    <p>
      <label for="name">Recipe name:</label>
      <input type="text" id="name" name="name">
    </p>
    <p>
      <label for="description">Description:</label>
      <br>
      <textarea id="description" name="description" rows="5" cols="35"></textarea>
    </p>
    <p>
      <%# Should cook_time be an integer? We could specify it must be minutes. %>
      <label for="cook_time">How long does this it take to prepare?</label>
      <br>
      <input type="text" id="cook_time" name="cook_time">
    </p>
  </section>
  <section>
    <h2>Ingredients</h2>
    <p>
      <label for="ingredient1">Ingredient 1:</label>
      <input type="text" id="ingredient1" name="ingredient1">
    </p>
    <p>
      <label for="ingredient2">Ingredient 2:</label>
      <input type="text" id="ingredient2" name="ingredient2">
    </p>
    <p>
      <label for="ingredient3">Ingredient 3:</label>
      <input type="text" id="ingredient3" name="ingredient3">
    </p>
  </section>

  <input type="submit" name="submit" value="Save recipe">
</form>