<form method="get" action="/weekly/vegetarian">
    <button type="submit">Vegetarian</button>
</form>

<form method="get" action="/weekly/normal">
    <button type="submit">Normal Diet</button>
</form>

<form method="get" action="/weekly/quickandeasy">
    <button type="submit">Quick and Easy</button>
</form>