.env

./**/desktop.ini
.class
.DS_Store
.idea
.idea/workspace.xml
*.iml
._*
.log
.lock
.npm-debug.log
.sass-cache
.Spotlight-V100
Thumbs.db 
.tmp 
.Trashes
*.tmlanguage.cache
*.tmPreferences.cache
.sftp-config.json
*.stTheme.cache
*.sublime-workspace
*.updog

# Ignore all sqlite databases
#db/*.sqlite3
#.ruby-version
