<h3>Welcome to Recipe World</h3>

<div class="nav">
  <p><a href="/recipes/new">Add Recipe</a></p>

  <p><a href="">Display All Recipes</a></p>

  <p><a href="">Generate Weekly Menu</a></p>
</div>


<div>
  <ul>
  <% @recipe_book.recipes.each do |recipe| %>
    <li>
     <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
    </li>
  <% end %>
  </ul>
</div> 